
html
    head
    body
        div 
            h1 attending 
            ul
            each person in attending
                li=`${person.name}${person.number}` 
        div    
            h1 Not attending 
            ul
            each person in attendingNO
                li=`${person.name}` 
